rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /cases/{caseId}/{fileName=**} {
      allow read, create, update, delete: if request.auth != null;
    }
  }
}
